# DATABASE
MYSQL_ROOT_PASSWORD=Leao123@
MYSQL_DATABASE=pedido
MYSQL_USER=pedido
MYSQL_PASSWORD=Leao123@
MYSQL_PORT=3306

# API
NODE_ENV=development
PORT=3000
API_URL=http://localhost:3000

# Frontend
VITE_API_URL=http://localhost:3000
